header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    margin-right: 20%;
}

nav {
    display: flex;
    gap: 30px;
}

.data-header {
    display: flex;
    align-items: center;
}